.container {
  width: 100%;
  background-image: url('https://www.yieldstreet.com/static/media/bkg-low.265be09b.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0 60px 0;
}
.card {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
  background-color: white;
  padding: 40px;
}
.cardNormal {
  background-color: white;
  width: 80%;
  height: 370px;
  position: absolute;
  left: 10%;
  top: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardPic {
  /* position: absolute;
  top: 370px; */
}

.bigTitle {
  margin-top: 32px;
  font-size: 32px;
  font-family: 'Raleway,sans-serif';
  text-align: center;
  color: rgb(30, 156, 159);
  max-width: 650px !important;
}
.smallTitle {
  max-width: 650px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(53, 56, 58);
  display: inline-block;
  text-align: center;
  padding: 30px 0px 45px;
}
.line {
  display: block;
  width: 10%;
  height: 1px;
  border-bottom: 2px solid rgb(223, 227, 228);
  padding: 30px 0px 0px;
}
.cardSmall {
  background-color: white;
  width: 100%;
  height: 370px;
  /* position: absolute;
  left: 10%;
  top: 520px; */
}